<div class="footer">
    <div class="main-footer-block row">
        <div class="col-lg-5 col-md-5 pr-lg-5" id="footer-logo-social">
            <!-- <div class="footer-logo">
                <a routerLink="/" routerLinkActive="active">
                    <img src="assets/images/logo.svg" />
                </a>
                <span>Цифровизация и<br> обучение математике</span>
            </div> -->
            <div class="nav-logo">
                <a href="/"><img src="../../assets/images/logo.svg" alt="">
                    <span>Цифровизация и <br>обучение математике</span></a>
            </div>
            <div class="col-12" id="footer-solution">
                <div class="footer-col-title">СВЯЗАТЬСЯ С НАМИ</div>
                <div class="footer-text"><a href="mailto:pozdnkov@gmail.com?subject=Request from the site">pozdnkov@gmail.com</a></div>
                <div class="footer-text"><a href="https://www.sites.google.com/site/snpozdniakov/" target="_blank">Поздняков Сергей Николавевич</a></div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 pr-lg-4 col-xs-6 col-md-6" id="footer-solution">

            <div class="footer-col-title">РАЗДЕЛЫ</div>
            <div class="footer-text"><a routerLink="/publications">Публикации</a></div>
            <!-- <div class="footer-text"><a routerLink="/documents">Лента событий</a></div> -->
            <div class="footer-text"><a routerLink="/media">Видеозаписи</a></div>
            <div class="footer-text"><a routerLink="/links">Связь со школами</a></div>
            <div class="footer-text"><a routerLink="/help">Полезные ссылки</a></div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-md-6" id="footer-about">
            <div class="footer-col-title" style="white-space: nowrap;">о нас</div>
            <div class="footer-text">
                <a routerLink="/project" style="white-space: nowrap;">Проект</a>
            </div>
            <div class="footer-text">
                <a routerLink="/contacts">Обратная связь</a>
            </div>
            <div class="footer-text"><a routerLink="/participant">Участники</a>
            </div>
        </div>
    </div>
</div>