<div class="d-flex flex-wrap justify-content-between">
    <div class="video-wrapper pb-3 d-flex col-lg-5 flex-column" *ngFor="let video of videos">
        <div class=" embed-responsive embed-responsive-16by9">
            <youtube-player [videoId]="video.url"></youtube-player>
        </div>
        <div class="mt-3 media-description">
            <div class="media_header">{{video.title}}</div>
            <div class="media_body">
                <div class="media_body-date">{{video.created_at | date : "dd MMM yyyy"}}</div>
                <div class="media_body-desc">{{video.desc}}</div>
            </div>
        </div>
    </div>
</div>
<ng-go-top-button color="white" [animate]="true" [speed]="50" [acceleration]="2" 
[scrollDistance]="300" [classNames]="'go-top-btn'">
    <button id="left_btn_corousel" mat-fab color="primary">
        <i class="fas fa-arrow-up fa-lg"></i>
    </button>
</ng-go-top-button>