<!-- <div class="buttons-back"> -->
<div class="container">
    <div class="back_btn" (click)="backClicked()">
        <div class="btn_group">
            <i class="material-icons">navigate_before</i>
            <span>Назад</span>
        </div>
    </div>

    <i class="material-icons close_btn mr-5" (click)="backClicked()">close</i>
    <!-- </div> -->
    <div class="article_content">
        <div class="article_content-header d-flex">
            <img class="img-fluid" src="{{article.authors[0].photo[0].url}}" alt="" />
            <div class="d-flex flex-column">
                <a>{{article.authors[0].authorName}}</a>
                <span>{{article.created_at | date}}</span>
            </div>
        </div>
        <div class="article-view">
            <div class="article-caption-heading">
                <h1>{{article.title}}</h1>
            </div>

            <img class="img-fluid" src="{{article.coverImage[0].url}}" alt="" />
            <div class="article-caption-subheading">{{article.value}}</div>
         
            <div *ngIf="isLoaded" style="text-align: center;">
  <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
  <span>{{ page }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
</div>
             <pdf-viewer [src]="article.pdf[0].url" 
              
              [show-borders]="true"
              [show-all]="false"
              [original-size]="true"
              [page]="page"
              (after-load-complete)="afterLoadComplete($event)"
              style="display: block;"></pdf-viewer>
        </div>
    </div>
</div>