.author_body {
    padding: 10px 0 55px;
    overflow: hidden;

    .author_header {
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
    }

    img {
        max-height: 250px;
    }

    .popup_body_additional {
        white-space: break-spaces;
    }
}

.author_desc {
    padding: 0 20px;
}

.author_desc-text {
    padding: 0 20px 0 50px;
}

.back_btn{
    font-size: 14px;
    i{
        margin-right: 4px;
    }
}