<div class="position-relative btn-container">
    <button id="left_btn_corousel" mat-fab color="white" [disabled]="leftNavDisabled" (click)="moveLeft()">
        <img src="../../../assets/images/arrow.svg" style="transform: rotate(180deg);">
    </button>
    <div class="demo-border">
        <drag-scroll class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true"
            (dsInitialized)="onDragScrollInitialized()" (indexChanged)="onIndexChanged($event)"
            (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
            (snapAnimationFinished)="onSnapAnimationFinished()" (dragStart)="onDragStart()" (dragEnd)="onDragEnd()"
            #nav>
            <div drag-scroll-item class="drag_scroll_item" [ngClass]="getAllposts ? 'active-img' : ''"
                (click)="getAllPost()">
                <!-- <div class="d-flex flex-column"> -->
                    <div class="get_all_btn">
                        <img src="../../../assets/images/group_all.svg" style="background-color: #4AA6FF;" />
                    </div>
                    <div class="author_name">Показать всех</div>
                <!-- </div> -->
            </div>
            <div drag-scroll-item *ngFor="let image of imagelist " class="drag_scroll_item" (click)="clickItem(image)"
                [ngClass]="currItem==image.contents ? 'active-img' : ''">
                <!-- <div class="d-flex flex-column"> -->
                    <img src="{{image.photo.url}}" />
                    <div class="author_name">{{image.authorName}}</div>
                <!-- </div> -->
            </div>
        </drag-scroll>
    </div>
    <button id="right_btn_corousel" mat-fab color="white" [disabled]="rightNavDisabled" (click)="moveRight()"><img
            src="../../../assets/images/arrow.svg">
    </button>
</div>

<app-post [currentAuthor]=currItem [currentPage]=pageType></app-post>