//temp
.title {
    margin-top: 60px;
}

.demo-one {
    height: auto;
    background-color: #FFFFFF;
}

.demo-one img {
    height: 75px;
    width: 75px;
}   

.demo-two {
    height: 500px;
}

.demo-border {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
}

.toggle-box {
    width: 49%;
    display: inline-block;
}

.toggle-box mat-slide-toggle {
    width: 100%;
    margin-bottom: 15px;
}

.footer {
    font-weight: 300;
    font-size: 15px;
    background-color: rgb(33, 33, 33);
}

.footer a {
    background-color: transparent;
    text-decoration: none;
    cursor: auto;
}

.docs-api-properties-table {
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.docs-api-properties-table p {
    margin: 0;
}

.docs-api-properties-table th {
    max-width: 100px;
    padding: 13px 32px;
    text-align: left;
}

.docs-api-properties-table td {
    font-weight: 400;
    padding: 8px 30px;
    color: rgba(0, 0, 0, .54);
    border: 1px solid rgba(0, 0, 0, .03);
}

.drag_scroll_item {
    padding: 10px 20px;
    text-align: center;
    transition: .3s all ease-in-out;
    cursor: pointer;
    position: relative;
    min-width: 143px;
    max-width: 143px;

    img {
        border-radius: 50%;
    }

    &:hover {
        background: #E0E6FF;
    }
}

.active-img {
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    background: #E0E6FF;

    &::after {
        content: '';
        border-bottom: 3px solid #4AA6FF;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.btn-container {
    button {
        position: absolute;
        top: calc(50% - 28px);

        &#left_btn_corousel {
            left: -66px;
        }

        &#right_btn_corousel {
            right: -66px;
        }
    }
}

drag-scroll {

    .get_all_btn {
        border-radius: 50%;
        background-color: #4AA6FF;
        padding: 15px;
        height: 75px;
        width: 75px;
        margin: auto;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .author_name {
        margin-top: 10px;
        color: #646464;
        overflow: hidden;
    }
}

.mat-fab.mat-button-disabled.mat-button-disabled {
    background-color: transparent !important;
}