<br />
<div class="index-content">
    <div class="img-back">
        <img src="../../../assets/images/main-img1.png">
        <img src="../../../assets/images/main-img2.png">
        <img src="../../../assets/images/main-img3.png">
        <img src="../../../assets/images/main-img4.png">
    </div>
<div class="row">
    <div class="post-column">
                    <div class="post-value">
                        <div class="post-caption-heading">Быстрая цифровизация среды обитания</div>
                        <div class="post-caption-subheading text-muted">Современного школьника ведет к потере эффективности многих устоявшихся методик школьного математического образования, сложившихся в условиях, когда основным источником научного знаний был учитель.
В то же время, расширение окружающей реальности цифровыми объектами открывает новые возможности для передачи математических знаний, формирования важных для математики концептуальных понятий.</div>
                    </div>
                    <div class="post-value">
                        <div class="post-caption-heading">Расширение множества представлений математических знаний</div>
                        <div class="post-caption-subheading text-muted">И использование специально создаваемых цифровых артефактов для передачи смыслов и формирования механизмов, лежащих в основе феномена понимания, рассматривается в проекте как ключевой момент в изменении не только содержания математического образования, но и форм его организации, что определяет новизну исследования</div>
                    </div>
                     <div class="post-value">
                        <div class="post-caption-heading">ПРОЕКТ</div>
                        <div class="post-caption-subheading text-muted">Предполагает теоретический анализ основных линий курса математики в школе, изменение их содержательного наполнения с учетом современных тенденций в самой математике и развития теоретической информатики как важного раздела современной математики, анализ использования различных представлений математических понятий, являющихся ключевыми для содержательных линий курса школьной математики и возможность использования различных цифровых артефактов для работы с этими представлениями.</div>
                    </div>
                    <div class="post-value">
                        <div class="post-caption-heading">Рассмотрение физических представлений</div>
                        <div class="post-caption-subheading text-muted">математических понятий наряду с цифровыми моделями, анализ взаимодействия внешнего и внутреннего представлений математических знаний определяют междисциплинарность исследования.
</div>
                    </div>
                    <div class="post-value">
                        <div class="post-caption-heading">НА ПРИМЕРЕ</div>
                        <div class="post-caption-subheading text-muted">двух линеек учебников по математике будет показано направление преобразования учебных материалов с целью выделения методических инвариантов, которые будут служить основой для обеспечения преемственности и согласования разных методических концепций авторов учебников</div>
                    </div>
                    <div class="post-value">
                        <div class="post-caption-heading">В КАЧЕСТВЕ ПРАКТИЧЕСКОГО РЕЗУЛЬТАТА</div>
                        <div class="post-caption-subheading text-muted">планируется разработка проекта альтернативного курса математики, построенного на описанных выше идеях и использующего расширенное множество участников, выступающих в роли учителей, что определяет практическую значимость исследования. 
</div>
                    </div>
    </div>
</div>
</div>
<br />