.index-content {
    display: flex;
}

.img-back {
    display: flex;
    flex-direction: column;

    img {
        align-self: center;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}


.post-column {
    margin: 0 40px;

    .post-caption-heading {
        color: #222793;
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 4px;
    }
}