<div class="nav-menu">
    <div class="nav-logo">
        <a href="/"><img src="../../assets/images/logo.svg" alt="">
            <span>Цифровизация и <br>обучение математике</span></a>
        </div>
    <ul>
        <li><a routerLink="/" routerLinkActive="active-navlink" [routerLinkActiveOptions]="{ exact: true }">Главная</a></li>
        <li><a routerLink="/publications" routerLinkActive="active-navlink">Публикции</a></li>
        <li><a routerLink="/media" routerLinkActive="active-navlink">Видеозаписи</a></li>
        <!-- <li><a routerLink="/links" routerLinkActive="active-navlink">Связь со школами</a></li> -->
        <li><a routerLink="/help" routerLinkActive="active-navlink">Полезные ссылки</a></li>
        <li><a routerLink="/participant" routerLinkActive="active-navlink">Участники</a></li>
        <li><a routerLink="/project" routerLinkActive="active-navlink">Проект</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active-navlink">Обратная связь</a></li>
    </ul>
</div>