<div class="row">
    <div class="post-column">
        <div *ngFor="let content of currentAuthor | slice: (page-1) * pageSize : page * pageSize">

            <h1>{{(page-1) * pageSize}}</h1>
            <div *ngIf="content.page!=null && (content.page===currentPage || content.page.id === currentPage)" class="post-item" >
                <a class="post-link" (click)="goToArticle(content)">
                <!-- <img class="img-fluid" src="{{post.contents[0].coverImage.url}}" alt="" /> -->
                <div class="post-caption d-flex">
                    <div class="post-value">
                        <div class="post-header d-flex">
                            <div class="post-caption-author" *ngIf="content.author != null">
                                {{content.author.authorName}}
                            </div>
                            <div class="post-caption-date">{{content.created_at | date}}</div>
                        </div>
                        <div class="post-caption-heading">{{content.title}}</div>
                        <div class="post-caption-subheading text-muted">{{content.value}}</div>
                    </div>
                    <div class="post-caption-media" *ngIf="content.coverImage != null ? 'true': ''">
                        <img *ngIf="content.coverImage!=null" class="img-fluid" src="{{content.coverImage.url}}" alt="" />
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="no_data_to_display mt-3" *ngIf="currentAuthor.length === 0">
        No data to display
    </div>
</div>

<ngb-pagination [collectionSize]="getPostCount()" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
    [boundaryLinks]="true" class="ml-auto"></ngb-pagination>

    