.row {
    justify-content: space-around;
}

.participant_card {
    background: #FFFFFF;
    border: 1px solid #F2F3F7;
    box-shadow: 0px 4px 4px rgba(224, 230, 255, 0.5);
    border-radius: 4px;
    margin-bottom: 22px;
    min-width: 350px;
    margin: 10px;
    cursor: pointer;
    max-width: 350px;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        align-self: center
    }

    .school_desc {
        font-weight: 300;
        font-size: 13px;
    }
}

